/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genereics */

body{
    background: linear-gradient( #009688 10%, #DADBD3 10%);
    height: 100vh;
}

#wrapper{
    width: 1500px;
    height: 800px;
}

footer,
header{
    height: 100px;
}

header{
    background-color: #EAEAEA;
}

footer{
    background-color: #F3EEEA;
}

main{
    height: calc(100% - 200px);
    background-image: url("../img/mine.jpg");
    overflow: auto;
}

.bi-paperclip{
    rotate: 40deg;
    padding-bottom: 10px;
}

header img{
    width: 70px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px transparent;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}