/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genereics */

body{
    background: linear-gradient( #009688 10%, #DADBD3 10%);
    height: 100vh;
}

#wrapper{
    width: 1500px;
    height: 800px;
}

footer,
header{
    height: 100px;
    background-color: #009688;
}

main{
    height: calc(100% - 200px);
    background-image: url("../img/mine.jpg");
    overflow: auto;
}